<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.demo.blessing.mapper.BlessTaskMapper">
    <resultMap id="BaseResultMap" type="org.demo.blessing.model.BlessTask">
        <result property="id" column="id"/>
        <result property="blessContent" column="blesscontent"/>
        <result property="jobName" column="jobname"/>
        <result property="jobGroupName" column="jobgroupname"/>
        <result property="triggerName" column="griggername"/>
        <result property="triggerGroupName" column="triggergroupname"/>
        <result property="cron" column="cron"/>
        <result property="personId" column="personid"/>
    </resultMap>
    <insert id="insertBlessTask" parameterType="org.demo.blessing.model.BlessTask">
        INSERT INTO blesstask(id, blesscontent, jobname, jobgroupname, triggername, triggergroupname, cron, personid)
        VALUES(NULL, #{blesscontent}, #{jobname}, #{jobgroupname}, #{triggername}, #{triggergroupname}, #{cron}, #{personid})
    </insert>
    <select id="selectAllBlessTask" resultMap="BaseResultMap">
        SELECT * FROM blesstask
    </select>

</mapper>