<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.demo.blessing.mapper.BlessTaskMapper">
    <resultMap id="BaseResultMap" type="org.demo.blessing.model.BlessTask">
        <result property="id" column="id"/>
        <result property="blessContent" column="blesscontent"/>
        <result property="jobName" column="jobname"/>
        <result property="jobGroupName" column="jobgroupname"/>
        <result property="triggerName" column="griggername"/>
        <result property="triggerGroupName" column="triggergroupname"/>
        <result property="cron" column="cron"/>
        <result property="personId" column="personid"/>
    </resultMap>
    <insert id="insertBlessTask" parameterType="org.demo.blessing.model.BlessTask">
        INSERT INTO blesstask(id, blesscontent, jobname, jobgroupname, triggername, triggergroupname, cron, personid)
        VALUES(NULL, #{blessContent}, #{jobName}, #{jobGroupName}, #{triggerName}, #{triggerGroupName}, #{cron}, #{personId})
    </insert>
    <select id="selectAllBlessTask" resultMap="BaseResultMap">
        SELECT * FROM blesstask
    </select>
    <select id="selectBlessTaskById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM blesstask
        WHERE id = #{id}
    </select>
    <update id="updateBlessTask" parameterType="org.demo.blessing.model.BlessTask">
        UPDATE blesstask
        SET blesscontent = #{blessContent},
            cron = #{cron},
            personid = #{personId}
        WHERE id = #{id}
    </update>
    <delete id="deleteBlessTask" parameterType="java.lang.Integer">
        DELETE FROM blesstask
        WHERE id = #{id}
    </delete>

</mapper>